*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: "open sans",sans-serif;
    font-size: 1rem;
    line-height: 1.6;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section1-container{
    background-image: url("./images/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 120vh;
    width: 100%;
    color: white;
    display: flex;
}

.section1-menu{
    padding: 20px 0;
    position: absolute;
    left: 40rem;
}

.section1-text{
    padding: 80px;
    align-items: flex-end;
}

.section1-heading{
    font-size: 5rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    padding:1.2rem 4.5rem;
}

.section1-para{
    color: black;
    background-color: white;
    font-size: 1rem;
    padding: 60px 30px;
}

.section2-container{
    padding:  80px;
    color: white;
    background-color: #d9b1b3;
}

.section2-para1{
    font-style: italic;
    font-size: 1.875rem;
    line-height: 1.6;
    font-family: 'Playfair Display', serif ;
    width: 80%;
    margin-bottom: 20px;
}

.special{
    font-size: 6rem;
    line-height: 0%;
}

.section2-para2{
    width: 46%;
}

.section3 .gallery{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 540px;
    flex-flow: 1;
}

.section3 .gallery-img-1{
    background-image:url("./images/gallery-1.jpeg");
}

.section3 .gallery-img-2{
    background-image: url("./images/gallery-2.jpeg");
}

.section3 .gallery-img-3{
    background-image: url("./images/gallery-3.jpeg");
}

.section3 .gallery-img-4{
    background-image: url("./images/gallery-4.jpeg");
}

.section3 .gallery-img-5{
    background-image: url("./images/gallery-5.jpeg");
}

.section3 .gallery-img-6{
    background-image: url("./images/gallery-6.jpeg");
}

.section4{
    text-align: center;
    background-color:#d9b1b3; 
    color: white;
}

.section4-heading{
    font-size: 3.5rem;
    font-style: italic;
    font-family: 'Playfair Display', serif;
}

.section4-text{
    letter-spacing: 0px;
    line-height: 1.4;
    font-size: 1.5rem;
    font-family: Lato, sans-serif;
    font-weight: 400;
    margin-bottom: 40px;
}

.section4-form input[type="text"], .section4-form input[type="email"]{
    padding: 15px;
    border-radius: 30px;
    border: unset;
    margin-left: 10px;
    margin-bottom: 50px;
    width: 20%;
}

input[placeholder]{
    font-size: 1rem;
    font-weight: 100;
}
.section4-button{
    border-radius: 30px;
    padding: 15px; 
    border: unset;
    margin-left: 10px;
    background-color: black;
    color: white;
    width: 10rem;
    font-size: 0.9rem;
    font-weight: 600;
}

.section5-container{
    align-items: center;
    padding: 50px 80px;
}

.section5-column1-article-img-container{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 38%;
}

.section5-column1-article-img{
    width: 100%;
}

.section5-para{
    font-weight: 100;
    padding-left: 3rem;
    font-weight: 100;
}

.section5-column2{
    font-size: 1.25rem;
}

.section5-column2-signature{
    padding-left: 3rem;
    padding-top: 2rem;
}

.section6-container{
    background-color:#d9b1b3; 
}

.section6-heading{
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
    line-height: 1.1;
    text-align: center;
    color: white;
    padding-top: 70px;
}

.slide-gallery-container {
    align-items: center;
    padding: 30px 80px;
}

.slide-gallery-img-container{
    flex-grow: 1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 400px;
    margin: 0.3rem;
}

.slide-gallery-img-1{
    background-image: url("./images/slide-1.jpg");
}

.slide-gallery-img-2{
    background-image: url("./images/slide-2.jpg");
}

.slide-gallery-img-3{
    background-image: url("./images/slide-3.jpg");
}

.slide-gallery-img-4{
    background-image: url("./images/slide-4.jpg");
}


.section6-arrow{
    text-align: center;
    padding-bottom: 50px;
}

.section7-container{
    padding: 80px 100px;
}

.section7-column1-product-container{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 360px;
    flex: 1 0 28%;
    margin: 0.6rem;
    overflow: hidden;
}

.column1-product-img-1{
    background-image: url("./images/product-1.jpg");
    width: 100%;
}

.column1-product-img-2{
    background-image: url("./images/product-2.jpg");
    width: 100%;
}

.section7-column2{
    margin-left: 40px;
    width: 100%;
    flex-grow: 1;
}

.column2-head{
    font-weight: 400;
    font-size: 2rem;
    
}

.column2-price{
    font-size: 1.875rem;
    font-weight: 700;
    margin: 20px 0;
}

.column2-text{
    font-size: 1.1rem;
    width: 75%;
}

.section7-button{
    padding: 13px 20px;
    border: unset;
    width: 50%;
    border-radius: 25px;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-family: Roboto,sans-serif ;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

.section7-button:hover {
    background-color: #d9b1b3;
}


.section8-column1-img-container{
    height: 115vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1 0 50%;
}

.section8-column1-img{
    background-image: url("./images/subscribe.jpeg");

    
}

.section8-column2{
    margin: 0 40px;
    align-items: center;
}

.line{
    border: 5px solid #d9b1b3;
    width: 95%;
}

.section8-column2-head{
    font-size: 4.5rem;
    font-weight: 700;
    font-style: italic;
    font-family: 'Playfair Display', serif ;
    line-height: 1.1;
    padding: 20px 0;
}


.section8-column2-form input[type="text"], .section8-column2-form input[type="email"]{
    padding: 13px;
    margin-top: 60px;
    margin-left: 20px;
    width: 17rem;
}

.section8-button-container{
    text-align: center;
}

.section8-button{
    padding: 13px;
    border-radius: 30px;
    border: unset;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-weight: 400;
    font-family: Roboto,sans-serif ;
    font-size: 1rem;
    width: 7.5rem;
    cursor: pointer;

}

.section8-button:hover{
    background-color: #d9b1b3;
}

.section8-text{
    font-size: 0.9rem;
    width: 343px;
    margin: 20px auto 0;
    text-align: center;
}

.social-icon{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.facebook-icon, .twitter-icon{
    margin-right: 20px;
}





